/JavaFoundation/target/
/JavaFoundation/.settings/
/JavaFoundation/.classpath

/UnitTesting/target/
/UnitTesting/.settings/
/UnitTesting/.classpath

/beacon-webapp/target/
/beacon-webapp/build/
/beacon-webapp/.settings/
/beacon-webapp/.classpath
/beacon-webapp/.project
